/*
* @Author: lisheng
* @Date:   2018-05-22 17:56:23
* @Last Modified by:   lisheng
* @Last Modified time: 2018-05-25 17:22:11
*/
@import url('base.css');
.head{
	width: 100%;
	height: 4rem;
	background: white;
	box-shadow: 0 0 0.5rem #888888;
	position: fixed;
}
h2{
	font-family: normal;
}
a{
	color:black;
}
h6{
	font-family: normal;
}
.heads{
	width: 100%;
	height: 2.44rem;
	background: #356da1;
	float: left;
}
.headx{
	width: 100%;
	height: 1.56rem;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	position: relative;
}
.headx i{
	position: absolute;
	left: 0.24rem;
	top: -1.9rem;
	color: white;
}
.heads .baxi{
	font-size: 0.44rem;
	margin-left: 2.86rem;
	margin-top: 1.26rem;
	color: white;
}
.heads h6{
	font-size: 0.24rem;
	margin-top: 0.32rem;
	margin-left: 2.86rem;
	color: rgba(250, 250, 250, 0.8)
}
.headx h5{
	font-size: 0.3rem;
	padding-bottom: 0.3rem;
	display: inline-block;
}
.head .heads img{
	width: 1.9rem;
	height: 1.9rem;
	display:block;
	top: 1rem;
	left: 0.63rem;
	position: absolute;

}
.zhonglan{
	width: 100%;
	height: 8rem;
	position: 
}
.zuoce{
	width: 1.73rem;
	height: 8rem;
	float: left;
	flex-direction: column;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	left: 0;
	top: 4rem;
}
.zuoce h5{
	font-size: 0.3rem;
	padding-bottom: 0.3rem;
}
.youce{
	margin-top: 0.3rem;
	float: right;
	width: 5.2rem;
	height: 8rem;
	margin-right: 0.24rem;
	margin-top: 4.5rem;
}
.youce div{
	width: 100%;
	height: 1.6rem;
}
.youce .pic{
	width: 1.28rem;
	height: 1.28rem;
	float: left;
}
.youce .pic img{
	width: 1.28rem;
	height: 1.28rem;
	border-radius: 10%;

}
.youce .fon{
	width: 3.6rem;
	height: 1.3rem;
	float: left;
	margin-left: 0.2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.youce .fon h3{
	font-size: 0.3rem;

}
.youce .fon h4{
	font-size: 0.08rem;
	color: rgba(0, 0, 0, 0.7);
	
}
.youce .fon h4:last-child{
	font-size: 0.3rem;
	color: red;
}
.bottom{
	width: 100%;
	height: 0.98rem;
	background: black;
	position: fixed;
	bottom: 0;
	left: 0;
}
.bottom div{
	border-radius: 50%;
	width: 1.2rem;
	height: 1.2rem;
	background: white;
	position: absolute;
	bottom:0.3rem;
	left: 0.5rem;
}
.bottom i{
	position: absolute;
	bottom:0;
	left: 0;
	font-size: 1.22rem;
	color: #356da1;
}
.bottom h6{
	position: absolute;
	right: 1rem;
	bottom: 0.3rem;
	color: white;
	font-size: 0.3rem;
	font-weight: normal;
}